@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* title start */
.title {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 1.5em;
	user-select: none;
}
.titlePt1 {
	font-family: 'Roboto', sans-serif;
	display: inline;
}
.titlePt2 {
	font-family: 'Sansita Swashed', cursive;
	display: inline;
	color: rgb(0, 68, 255);
}
/* title end */

/* input start */
.input {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid black;

	text-align: center;
	font-size: 20px;
}
/* input end */

/* morse start */
.morse {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 80%;
	height: 50%;
	border: 1px solid #000;

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 5px;

	overflow-y: auto;
	overflow-x: hidden;

	border-radius: 10px;

	/* z-index: 1; */
}
/* morse end */

.dot {
	width: 15px;
	height: 15px;

	background-color: black;
	border-radius: 50%;
	display: inline-block;
}
.dash {
	position: relative;
	bottom: 5px;

	height: 10px;
	width: 25px;

	margin: 0px 2px 0px 2px;

	background-color: black;
	display: inline-block;

	/* space between symbols of a word */
}
.btChars {
	width: 15px;
	display: inline-block;
}

.buttonsCont1 {
	display: inline-grid;
	grid-template-columns: auto auto;
	column-gap: 2em;

	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -55%);
}

.btSwitch,
.btSwitch2 {
	position: relative;
	width: 4em;
	height: 40px;

	background-color: black;

	display: flex;

	align-items: center;
	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 0.8);
}
.btSwitch2 {
	transform: rotate(180deg);
}

.btSwitchInt,
.btSwitchInt2 {
	position: absolute;

	left: 5px;

	width: 30%;
	height: 80%;

	background-color: white;
}

.buttonsCont2 {
	display: none;
	/* display: inline-grid; */
	grid-template-columns: auto auto auto auto;
	column-gap: 1em;

	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -60%);

	user-select: none;
}
.buttonsCont2 > div {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;

	cursor: pointer;
}
.btDot {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}
.btDash {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
}
.btSpace {
	height: 2.5rem;
	width: 5rem;
	border-radius: 10px;
	font-weight: 400;
}
.btSpace > div {
	position: absolute;
	top: 5px;
}
.btDash > div {
	position: relative;
	top: 1px;
}
.btDel {
	border: none !important;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	background-color: #000;
}

/* S */
